<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>WireGuardMultiTunnelHelper</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>WireGuardMultiTunnelHelper</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.1</string>
	<key>CFBundleVersion</key>
	<string>157</string>
	<key>Hash</key>
	<string>303e3fef62e57d3b185e15d2fb15ab21</string>
	<key>SMAuthorizedClients</key>
	<array>
		<string>anchor apple generic and identifier "WireGuardMultiTunnel" and certificate leaf[subject.OU] = "4JD8RUCQ2W"</string>
	</array>
	<key>SOURCE_HASH</key>
	<string>7bd34ab7f51b8a5fbba29d6bdb49d576</string>
</dict>
</plist>
